POSTGRES_DB=projecttracking
POSTGRES_USER=projecttracking
POSTGRES_PASSWORD=change-this-password

FRONTEND_PUBLIC_URL=http://localhost:3000
APP_MAIL_FROM=no-reply@projecttracking.local
APP_SAMPLE_DATA_ENABLED=true

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
